<div class="min-h-screen w-full bg-cover bg-center bg-no-repeat flex items-center justify-center">

  <div class="w-full max-w-7xl px-8">

    <!-- Logo -->
    <div class="flex justify-center mb-10">
      <img src="assets/images/logo.png"
           class="h-16 object-contain"
           alt="logo">
    </div>

    <!-- Login Card -->
    <div class="flex justify-center">

      <div
        class="w-full max-w-md bg-white/95 rounded-xl border border-sky-300 shadow-2xl px-7 py-7 relative">

        <!-- Left Blue Dot -->
        <div
          class="absolute -left-3 top-8 w-5 h-5 rounded-full bg-[#0B7FC3] border-4 border-white">
        </div>

        <!-- Heading -->
        <h2 class="text-3xl font-bold text-[#1188D2] mb-6">
          Welcome To DevicePulse
        </h2>

        <form [formGroup]="loginForm">

          <!-- Username -->
          <mat-form-field appearance="fill" class="w-full custom-field mb-3">
            <mat-label>Enter Your Email*</mat-label>
            <input
              matInput
              formControlName="userName">

            <mat-error
              *ngIf="loginForm.get('userName')?.hasError('required')">
              User name is required
            </mat-error>
          </mat-form-field>

          <!-- Password -->
          <mat-form-field appearance="fill" class="w-full custom-field">

            <mat-label>Enter Password*</mat-label>

            <input
              matInput
              [type]="showpassword ? 'password' : 'text'"
              formControlName="password">

            <button mat-icon-button matSuffix type="button">
              <mat-icon (click)="showPassword()">
                visibility
              </mat-icon>
            </button>

            <mat-error
              *ngIf="loginForm.get('password')?.hasError('required')">
              Password is required
            </mat-error>

          </mat-form-field>

          <!-- Forgot -->
          <div class="text-xs text-slate-600 mb-5 cursor-pointer">
            Forgot Password ?
          </div>

          <!-- Login -->
          <button
            mat-raised-button
            class="!w-full !bg-[#0A4F73] !text-white !rounded-md !py-5"
            (click)="login()">

            Login

          </button>

          <!-- Footer -->
          <p class="text-[10px] text-gray-500 mt-5 leading-5">
            By continuing, you agree to DevicePulse Terms of Use and Privacy Notice.
          </p>

        </form>

      </div>

    </div>

  </div>

</div>