.bg-img {
  background-image: url('/assets/images/Attendance  Management.png');
  
  background-color: #f8fafc; 
}

.text-title {
  background: linear-gradient(90deg, #018CD3 0%, #064C70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.loginBtn {
  background: #0A4F73 !important;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover {
    background: #073B56 !important;
  }
}

::placeholder{
    color: rgba(0, 84, 128, 1);
}

.suggest{
        color: rgba(0, 84, 128, 1);

}
