<mat-toolbar class="mat-elevation-z8">
    <div *ngIf="!isLoading" class="flex items-center justify-between w-full">
        <div>
            <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
                <mat-icon class="text-white" *ngIf="!sidenav.opened"> menu </mat-icon>
                <mat-icon class="text-white" *ngIf="sidenav.opened"> close </mat-icon>
            </button>

        </div>

        <span class="imglogo hidden lg:block">
  <img
    src="assets/images/image - 2026-07-07T155118.840.png"
    alt="Logo"
    class="logoimg mx-auto"
  >
</span>
             <!-- <span class="imglogo"><img src="assets/images/image - 2026-07-07T155118.840.png" alt="Logo" class=" text-center logoimg"></span>        -->
     <!-- <img src="assets/images/dev-main-logo.png" alt="" height="20" width="280" class="mt-8 mb-8"> -->

        <!-- <span class="text-xs md:text-2xl hidden md:block ms-29 name" >Device Management System</span> -->

        <span class="example-spacer"> 
  <span *ngIf="roleName === 'Branch Admin'" class="ml-15" style="font-size: 15px;"> <span style="color:black" >Branch Name</span> : <span style="font-size: 18px;">{{locationName}}</span> </span> </span>

        <div *ngIf="!isLoading" class="inline-flex items-center text-md">
          <div class="flex flex-col leading-5">
 <!-- <span class="text-sm font-medium text-[rgb(0,84,128)]">
    Welcome :
<span class="font-normal text-[rgb(0,84,128)]">
  {{ userName }}
</span>  </span> -->

  <span class="text-sm font-semibold text-[rgb(0,84,128)]">
    Name :
    <span class="font-normal text-gray-600">{{ userName }}</span>
  </span> 
 <span class="text-sm font-semibold text-[rgb(0,84,128)] mt-1">
    Role :
    <span class="font-normal text-gray-600">
        {{ roleName || 'N/A' }}
    </span>
  </span> 


  

  
</div>
            <button mat-button [matMenuTriggerFor]="menu" style="padding-right:0;">
                
                <div class=" items-center text-white">
               
                    <span class="inline-flex p-1 bg-white rounded-full
                    text-slate-700 mx-1">
                      <img src="assets/images/profile.png" alt="" class="w-9 h9 rounded-full" title="Open to logout Model !..">
                    </span>

                </div>

            </button>

            <mat-menu #menu="matMenu" class="mt-2 w-full" [overlapTrigger]="false" xPosition='before'>
            <!-- Change Password Button -->
<!-- Change Password -->
<div (click)="openPasswordModal()"
  mat-menu-item
  
  class="cursor-pointer">

  <mat-icon>lock_reset</mat-icon>
  <span >Change Password</span>

</div>


                <mat-divider></mat-divider>
                <button mat-menu-item (click)="onSignOut()">
                    <mat-icon>power_settings_new</mat-icon>

                    <span >Logout</span>
                </button>

            </mat-menu>
        </div>
    </div>



</mat-toolbar>












<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" mode="side" class="mat-elevation-z8 profile custom-sidenav">
        <!-- <div class="">                    <img src="assets/images/dev-main-logo.png" alt="Logo" class="h-15 mb-4 mt-4 text-center mx-auto ">
</div> -->
        <div>

            <button mat-button class="menu-button nav-link" routerLink="dashboard" routerLinkActive="active">
                <mat-icon>dashboard</mat-icon>
                <span class="text-sm font-medium">Dashboard</span>
            </button>

           <!-- <button mat-button class="menu-button nav-link" routerLink="new-dashboard" routerLinkActive="active">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button> -->
            
          

     <!-- <button mat-button class="menu-button nav-link" routerLink="person-tracking" routerLinkActive="active">
                <mat-icon>person_search</mat-icon>
                <span>Person Tracking</span>
            </button> -->

              <!-- <button mat-button class="menu-button nav-link" routerLink="get-details" routerLinkActive="active">
              <mat-icon>info</mat-icon>
                <span>Get Details </span>
            </button> -->

     <div  *ngIf="roleName === 'Admin'" href="">
  <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z-0">
                <mat-expansion-panel-header>

                    <button mat-button class="menu-button nav-link">

<span style="display: flex;align-items: center; gap:18; " >
      <span class="icon">
    <img class="green-icon mr-2 h-4" src="assets/images/mage_file-fill.png">
    <img class="white-icon mr-2 h-4" src="assets/images/Vector (16).png">
  </span>

  <span class="text-sm font-medium">
  Masters
  </span>
</span>

                    </button>
                </mat-expansion-panel-header>
  <a mat-button class="menu-button nav-link" routerLink="/add-company" routerLinkActive="active">
                    <span> Company </span>
                </a>

                <a mat-button class="menu-button nav-link" routerLink="/add-location" routerLinkActive="active">
                    <span>  Branch </span>
                </a>

                  <a mat-button class="menu-button nav-link" routerLink="/add-department" routerLinkActive="active">
                    <span> Department</span>
                </a>
   <a mat-button class="menu-button nav-link" routerLink="/add-category" routerLinkActive="active">
                    <span> Category</span>
                </a>

                 <a mat-button class="menu-button nav-link" routerLink="/add-contractor" routerLinkActive="active">
                    <span>  Contractor</span>
                </a>

                     <!-- <a mat-button class="menu-button nav-link" routerLink="/add-college" routerLinkActive="active">
                    <span> Add College</span>
                </a> -->

                    <a mat-button class="menu-button nav-link" routerLink="/add-designation" routerLinkActive="active">
                    <span>Designation</span>
                    </a>
<!-- 
                      <a mat-button class="menu-button nav-link" routerLink="/add-working-hours" routerLinkActive="active">
                    <span> Working Hours</span>
                    </a> -->

                <a mat-button class="menu-button nav-link" routerLink="/add-group" routerLinkActive="active">
                    <span>Access Groups</span>
                </a>
<!-- 
                
                  <a mat-button class="menu-button nav-link" routerLink="/role-master" routerLinkActive="active">
                    <span>Role Master</span>
                </a> -->
                
            </mat-expansion-panel>
        </mat-accordion>
    </div>

       <button mat-button class="menu-button nav-link" routerLink="staff-management" routerLinkActive="active">
        
<span style="display: flex;align-items: center; gap:18; " >
      <span class="icon">
    <img class="green-icon mr-2 h-4" src="assets/images/famicons_people.png">
    <img class="white-icon mr-2 h-4" src="assets/images/Vector (17).png">
  </span>

  <span class="text-sm font-medium">
  Employee Management
  </span>

</span>       
        
    
            </button>
            <!-- <div href="">
  <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z-0">
                <mat-expansion-panel-header>

                    <button mat-button class="menu-button nav-link">
<mat-icon>event_available</mat-icon>                    <span>Attendance Management</span>
                    </button>
                </mat-expansion-panel-header> -->

           
<!-- 
                 <a mat-button class="menu-button nav-link" routerLink="/download-log" routerLinkActive="active">
                    <span> Download Records </span>
                </a> -->

                   <!-- <a mat-button class="menu-button nav-link" routerLink="/organization-unit" routerLinkActive="active">
                    <span> Organization Unit</span>
                </a> -->

            <!-- </mat-expansion-panel>
        </mat-accordion>
    </div> -->



           <div href="">
  <!-- <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z-0">
                <mat-expansion-panel-header>

                    <button mat-button class="menu-button nav-link">
                        <mat-icon>settings</mat-icon>
                        <span>System Settings</span>
                    </button>
                </mat-expansion-panel-header> -->

                <!-- <a mat-button class="menu-button nav-link" routerLink="/device-management" routerLinkActive="active">
                    <span> Device Management </span>
                </a>

                   <a mat-button class="menu-button nav-link" routerLink="/emp-transfer-data" routerLinkActive="active">
                    <span> Employee Transfer Status </span>
                </a> -->

                   <!-- <a mat-button class="menu-button nav-link" routerLink="/authorized-device" routerLinkActive="active">
                    <span> Authorized Device </span>
                </a> -->
<!--                 
               <a mat-button class="menu-button nav-link"
   routerLink="/smtp-credential"
   routerLinkActive="active">
  <span>SMTP Credentials</span>
</a> -->

<!-- <a mat-button class="menu-button nav-link"
   routerLink="/smtp-emailId"
   routerLinkActive="active">
  <span>SMTP Email ID</span>
</a> -->

<!-- 
            </mat-expansion-panel>
        </mat-accordion> -->






         <button
  mat-button
  class="menu-button nav-link"
  routerLink="device-management"
  routerLinkActive="active">

<span style="display: flex;align-items: center; gap:18; " >
      <span class="icon">
    <img class="green-icon mr-2 h-4" src="assets/images/ph_device-mobile-fill.png">
    <img class="white-icon mr-2 h-4" src="assets/images/Vector (13).png">
  </span>

  <span class="text-sm font-medium">
   Device Management
  </span>

</span>
</button>

        
           

                   
  <button
  mat-button
  class="menu-button nav-link"
  routerLink="emp-transfer-data"
  routerLinkActive="active">

<span style="display: flex;align-items: center; gap:18; " >
      <span class="icon">
    <img class="green-icon mr-2 h-5" src="assets/images/ph_device-mobile-fill (2).png">
    <img class="white-icon mr-2 h-5" src="assets/images/ph_device-mobile-fill (1).png">
  </span>

  <span class="text-sm font-medium">
    Employee Transfer Status
  </span>
</span>

</button>

    </div>
       <div href="">
  <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z-0">
                <mat-expansion-panel-header>

                    <button mat-button class="menu-button nav-link">
                                               <mat-icon>description</mat-icon>

                        <span class="text-sm font-medium">Reports</span>
                    </button>
                </mat-expansion-panel-header>

                <a mat-button class="menu-button nav-link" routerLink="/attendance-report" routerLinkActive="active">
                    <span> Attendance Report</span>
                </a>
  <a mat-button class="menu-button nav-link" routerLink="/multiple-punches-report" routerLinkActive="active">
                    <span> Multiple Punches Report </span>
                </a>


                   <a mat-button class="menu-button nav-link" routerLink="/master-report" routerLinkActive="active">
                    <span> Employee Master Report </span>
                </a>


                     <a mat-button class="menu-button nav-link" routerLink="/contractor-wise-report" routerLinkActive="active">
                    <span>  Contractor wise Report </span>
                </a>

                    <a mat-button class="menu-button nav-link" routerLink="/cumulative-duration-report" routerLinkActive="active">
                    <span style="font-size: 13px;"> Cumulative Duration Report </span>
                </a>

                   <!-- <a mat-button class="menu-button nav-link" routerLink="/access-control-report" routerLinkActive="active">
                    <span> Access Control Report </span>
                </a> -->

                   <!-- <a mat-button class="menu-button nav-link" routerLink="/access-granted-report" routerLinkActive="active">
                    <span> Access Granted Report</span>
                </a> -->

                 
                   <!-- <a mat-button class="menu-button nav-link" routerLink="/audit-report" routerLinkActive="active">
                    <span> Audit Report </span>
                </a> -->

                      <!-- <a mat-button class="menu-button nav-link" routerLink="/entry-exit-status-report" routerLinkActive="active">
                    <span> Entry Exit Status Report </span>
                </a> -->


               <a style="margin-bottom: 20px;" mat-button class="menu-button nav-link" routerLink="/log-report" routerLinkActive="active">
                    <span> Log Report </span>
                </a>

                   <!-- <a mat-button class="menu-button nav-link" routerLink="/person-tracking-report" routerLinkActive="active">
                    <span> Person Tracking Report </span>
                </a> -->
                
            </mat-expansion-panel>
        </mat-accordion>
    </div>

            <a mat-button class="menu-button nav-link" routerLink="/help" routerLinkActive="active">


              
<span style="display: flex;align-items: center; gap:18; " >
      <span class="icon">
    <img class="green-icon mr-2 h-4" src="assets/images/material-symbols_help-rounded.png">
    <img class="white-icon mr-2 h-4" src="assets/images/Vector (16).png">
  </span>

  <span class="text-sm font-medium">
   Help
  </span>
</span>

             
            </a>
          
         
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="md:mx-2 lg:mx-4">
            <div class="content">
                <router-outlet>  </router-outlet>
              
            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>


<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.6)"
  size="medium"
  [fullScreen]="true">

  <div class="custom-loader"></div>

  <!-- <p class="loader-text">Please wait sometime...</p> -->

</ngx-spinner>


<!-- ================= Modal ================= -->
 
<div class="password-modal" *ngIf="showChangePasswordModal">
<form [formGroup]="changePasswordForm">

    <div class="password-modal-box">

        <div class="modal-title">

            <h3>Change Password</h3>

            <button type="button" class="close-btn" (click)="closeModal()">
                ✕
            </button>

        </div>

        <!-- Old Password -->
<div class="w-full">
  <label class="block text-sm font-medium text-gray-700 mb-1">
    Old Password
  </label>

  <div class="relative">
    <input
      [type]="showpassword ? 'password' : 'text'"
      formControlName="oldPassword"
      placeholder="Enter your old password"
      class="w-full px-3 py-2 pr-10 border border-sky-500 rounded-md focus:outline-none focus:ring-1 focus:ring-sky-500 focus:border-sky-500 text-sm"
    />

    <button
      type="button"
      (click)="showPassword()"
      class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-500"
    >
      <span class="text-sm">👁</span>
    </button>
  </div>

  <p
    *ngIf="changePasswordForm.get('oldPassword')?.hasError('required') &&
           changePasswordForm.get('oldPassword')?.touched"
    class="text-red-500 text-xs mt-1"
  >
    Old Password is required
  </p>
</div>


<!-- New Password -->
<div class="w-full mt-4">
  <label class="block text-sm font-medium text-gray-700 mb-1">
    New Password
  </label>

  <div class="relative">
    <input
      [type]="showpasswordNeW ? 'password' : 'text'"
      formControlName="password"
      placeholder="Enter your new password"
      class="w-full px-3 py-2 pr-10 border border-sky-500 rounded-md focus:outline-none focus:ring-1 focus:ring-sky-500 focus:border-sky-500 text-sm"
    />

    <button
      type="button"
      (click)="showPasswordNew()"
      class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-500"
    >
      <span class="text-sm">👁</span>
    </button>
  </div>

  <p
    *ngIf="changePasswordForm.get('password')?.hasError('required') &&
           changePasswordForm.get('password')?.touched"
    class="text-red-500 text-xs mt-1"
  >
    New Password is required
  </p>
</div>


      <div class="modal-footer">
  <div class="flex items-center justify-start gap-3 pt-4 border-t border-gray-100">
      <button
        type="button"
      (click)="closeModal()"
        class="bg-gray-100 text-gray-700 hover:bg-gray-200 font-medium px-6 py-2 rounded-md text-sm transition duration-150"
      >
        Cancel
      </button>

      <button
      
        (click)="updatePassword()"
    
        class="bg-sky-500 text-white hover:bg-sky-600 font-semibold px-6 py-2 rounded-md text-sm shadow-sm transition duration-150"
      >
        Update Password
      </button>

    
    </div>
    </div>


  

    </div>

</form>

</div>