.mat-table-full-width .mat-header-cell,
.mat-table-full-width .mat-cell {
  white-space: nowrap;
}

.mat-column-serialNum,
.mat-column-IoStatus,
.mat-column-fingerPrintCount,
.mat-column-faceCount,
.mat-column-transactionCount,
.mat-column-userCount,
.mat-column-deviceName,
.mat-column-offlineSince,

.mat-column-area,
.mat-column-lastActivity {
  white-space: nowrap;
}

.mat-column-serialNum,
.mat-column-fingerPrintCount {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-red{
  color: rgb(223, 21, 21);
}

.online{
  color: green !important;
}
.offline{
  color: rgb(250, 22, 22) !important;
}