.mat-table-full-width .mat-header-cell,
.mat-table-full-width .mat-cell {
  white-space: nowrap;
}

.mat-column-serialNum,
.mat-column-IoStatus,
.mat-column-fingerPrintCount,
.mat-column-faceCount,
.mat-column-transectionCount,
.mat-column-userCount,
.mat-column-deviceName,
.mat-column-offlineSince,
.mat-column-id,
.mat-column-ipAddress,
.mat-column-area,
.mat-column-srNo,
.mat-column-lastActivity {
  white-space: nowrap;
}

.mat-column-serialNum,
.mat-column-fingerPrintCount {
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-sky-5000{
  border: 1px solid rgb(19, 22, 190) !important;
}

.online{
  color: green !important;
}
.offline{
  color: rgb(250, 22, 22) !important;
}

.in{
  color: green !important;
}
.input{
  color: blue($color: #fd0a0a);
}.dashboard-card{
    background:#fff !important;
    border:1px solid #E6EEF5 !important;
    border-radius:12px !important;
    box-shadow:0 2px 8px rgba(15,23,42,.05) !important;
    transition:.25s ease;
}

.dashboard-card:hover{
    box-shadow:0 8px 20px rgba(15,23,42,.08) !important;
    transform:translateY(-2px);
}

.card-body{
    padding:20px;
    height:105px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.card-title{
    font-size:15px;
    font-weight:600;
    color:#1E5676;
    margin:0;
}

.card-subtitle{
    font-size:11px;
    color:#9CA3AF;
    margin-top:2px;
}

.card-count{
    font-size:32px;
    font-weight:700;
    color:#154C79;
    line-height:1;
    margin:0;
}